@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 22rem;
  min-height: 20rem;
  max-height: 32rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  border-radius: 25px;
  text-align: center;
}

.title {
  margin-top: 15px;
  color: #4338ca;
  font-size: 34px;
  font-weight: bold;
}

#todo-f form {
  display: flex;
}

.form {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#todo-f {
  width: 14rem;
  height: 22px;
  padding: 10px;
  background-color: #f3f4f6;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#todo-f:focus {
  border: 2px solid #4f46e5;
}

#todo-btn {
  background-color: #4f46e5;
  width: fit-content;
  height: 45px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.todo-items {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
